* {
  background-color: #8291ab;
  color: #ffdac3;
}

.nav .nav-link {
  background-color: #8291ab;
  border-bottom: #2b334e;
  color: #ffdac3;
}
Nav.link :active {
  color: #9d8189;
  font-weight: bolder;
  background-color: #2b334e;
}

h1 {
  display: flex;
  justify-content: center;
}
p {
  text-align: center;
}
